<table>
    <tbody>
        <tr>
          <% @cells.first(3).each do |cell| %>
            <td><%= cell.symbol %></td>
          <% end %>
        </tr>
        <tr>
          <% @cells[4..6].each do |cell| %>
            <td><%= cell.symbol %></td>
          <% end %>
        </tr>
        <tr>
          <% @cells.last(3).each do |cell| %>
            <td><%= cell.symbol %></td>
          <% end %>
        </tr>
    </tbody>
</table>
